h1, h3 {
    background-color: #071c71;
    color: #6f83d6;
    text-align: center;
    margin: 0px;
} 

h2 {
    margin: 0px 5px 5px 5px;
    font-style: italic;
}

body {
    background-image:linear-gradient(#6f83d6, #2c3282);
    text-align: center;
}

img {
    border-radius: 8px;
    width: 800px;
    height: 500px;
}


footer {
    text-align: center;
}

li {
    display: inline;
    padding:50px 10px 20px 20px;
    margin-bottom: 2px;
}

header {
    text-align: center;
}

article {
    color: darkgray;
}

p {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: #abb7e6;
}
